In [8]:
emp  = { "id":101, "ename":"Rahul"}
        
print(emp['id'])
print(emp['ename'])
emp['ename'] = "Rahul GAndhi"

print(emp)

101
Rahul
{'id': 101, 'ename': 'Rahul GAndhi'}

In [11]:
l = [10,100,201]
b = bytes(l)   # immutable object
ba = bytearray(l) #mutable object

print(l)
print(b)
print(ba)
print(type(l))
print(type(b))   # 
print(type(ba))


ba[0]  = 11

print(ba[0])

[10, 100, 201]
b'\nd\xc9'
bytearray(b'\nd\xc9')
<class 'list'>
<class 'bytes'>
<class 'bytearray'>
11

In [13]:
a = 10
b = 0b111
c = 0o756
d = 0xABC

print(a)
print(b)
print(c)
print(d)

10
7
494
2748

In [14]:
print(int(10))
print(bin(10))
print(oct(10))
print(hex(10))

10
0b1010
0o12
0xa

In [15]:
id = 0XBEE

print(id)

3054

In [16]:
print(hex(3054))

0xbee